# Go related
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
/vendor/

# Terraform related
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# IDE/Editor folders
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db

# Prometheus & Grafana
data/